#page {
    width: 100%;
    height: 100%;
    background: lavender;
    H3{
        width: 14.375rem;
        height: 2.666667rem;
        border-radius: .266667rem;
        background: lightgoldenrodyellow;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -2.666667rem 0 0 -2.666667rem;
        font-family: '楷体';
        font-weight: normal;
    }
}