#loading {
    width: 5.4rem;
    height: 5.4rem;
    background: #cacace;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2.7027rem 0 0 -2.7027rem;
    border-radius:0.1351rem;
}

#loading h1 {
    font-size: .426667rem;
    color: #fff;
    text-align: center;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}