#loading {
    width: 100%;
    height: 100%;
    background: #cacace;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -100px;
}

#loading h1 {
    font-size: .426667rem;
    color: #666;
    line-height: 1.333333rem;
    text-align: center;
}